= render 'layouts/header'
.account-cover
  .account-box
    = form_for(current_user, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      / # = devise_error_messages!
      .account-box__image
        .account-box__image__user-image
          / 本来はユーザーが登録したavatorに差し代わる、仮置き
          = image_tag 'icon-tabibito-01.svg'
      %p.account-box__title.edit
        パスワード設定
      .account-box__field.edit__field
        = f.label :現在のパスワード
        %br/
        = f.password_field :current_password, autocomplete: "off", class: "account-box__field__form edit_form", id: "password"
      .account-box__field.edit__field
        = f.label :新しいパスワード
        %br/
        = f.password_field :password, autocomplete: "off", class: "account-box__field__form edit_form", id: "new_password"
        - if @minimum_password_length
          %br/
          %em
            = @minimum_password_length
            characters minimum
      .account-box__field.edit__field
        = f.label :'新しいパスワード(確認)'
        %br/
        = f.password_field :password_confirmation, autocomplete: "off", class: "account-box__field__form edit_form", id: "new_password"
      / リダイレクト先は仮置き、本来はプロフィール画面
      .account-box__field.edit__field
        = f.submit "更新する", class: "account-box__field account-box__field__action-edit", redirect_to: root_path
= render 'layouts/sub-nav-2lists'
.footer
  .footer-inner
    = render 'layouts/footer'
    = render 'layouts/footer-copyright'

/ 以下今後使うかも
/ %h3 Cancel my account
/     %p
/       Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
/     = link_to "Back", :back

/ password edit default
/ %h2 Change your password
/ = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
/   = devise_error_messages!
/   = f.hidden_field :reset_password_token
/   .field
/     = f.label :password, "New password"
/     %br/
/     - if @minimum_password_length
/       %em
/         (#{@minimum_password_length} characters minimum)
/       %br/
/     = f.password_field :password, autofocus: true, autocomplete: "off"
/   .field
/     = f.label :password_confirmation, "Confirm new password"
/     %br/
/     = f.password_field :password_confirmation, autocomplete: "off"
/   .actions
/     = f.submit "Change my password"
/ = render "devise/shared/links"
