= render 'layouts/header'
= render 'layouts/slider'
= render 'layouts/main-content'
= render 'layouts/4-contents'
= render 'layouts/2-contents'
.footer
  .footer-inner
    = render 'layouts/footer'
    = render 'layouts/footer-earth'
    = render 'layouts/footer-copyright'
