= render 'layouts/header'
= render 'layouts/slider'
= render 'layouts/main-content'
= render 'layouts/sub-nav-4lists'
= render 'layouts/sub-nav-2lists'
.footer
  .footer-inner
    = render 'layouts/footer'
    = render 'layouts/footer-earth'
    = render 'layouts/footer-copyright'

