.right
  %ul.job
    %li.job__list.job__list--current
      = link_to "", class: "btn-job btn-job--current" do
        すべて
        %span.num-job
          (85)
    %li.job__list
      = link_to "", class: "btn-job btn-job__type" do
        記事執筆
        %span.num-job
          (55)
    %li.job__list
      = link_to "", class: "btn-job btn-job__type" do
        写真撮影
        %span.num-job
          (4)
    %li.job__list
      = link_to "", class: "btn-job btn-job__type" do
        動画撮影
        %span.num-job
          (1)
    %li.job__list
      = link_to "", class: "btn-job btn-job__type" do
        コンシェルジュ
        %span.num-job
          (0)
    %li.job__list
      = link_to "", class: "btn-job btn-job__type" do
        情報提供
        %span.num-job
          (8)
    %li.job__list
      = link_to "", class: "btn-job btn-job__type" do
        調査
        %span.num-job
          (2)
    %li.job__list
      = link_to "", class: "btn-job btn-job__type" do
        アンバサダー
        %span.num-job
          (3)
    %li.job__list
      = link_to "", class: "btn-job btn-job__type" do
        モデル
        %span.num-job
          (1)
    %li.job__list
      = link_to "", class: "btn-job btn-job__type" do
        体験モニター
        %span.num-job
          (3)
    %li.job__list
      = link_to "", class: "btn-job btn-job__type" do
        その他
        %span.num-job
          (4)
    %li.job__list
      = link_to "", class: "btn-job btn-job__type" do
        営業代行
        %span.num-job
          (3)
    %li.job__list
      = link_to "", class: "btn-job btn-job__type" do
        正社員
        %span.num-job
          (1)
    %li.job__list
      = link_to "", class: "btn-job btn-job__type" do
        編集者
        %span.num-job
          (0)
    %li.job__list
      = link_to "", class: "btn-job btn-job__type" do
        ディレクター
        %span.num-job
          (1)
    %li.job__list
      = link_to "", class: "btn-job btn-job__type" do
        モニターツアー
        %span.num-job
          (1)
    %li.job__list
      = link_to "", class: "btn-job btn-job__type" do
        バイヤー
        %span.num-job
          (1)

  .tag
    %dl.tag-definition
      %dt.tag-term
        人気のタグ
      %dd.tag-description
        %ul.side-tag
          %li.side-tag__list
            = link_to "", class: "btn-tag" do
              取材あり
          %li.side-tag__list
            = link_to "", class: "btn-tag" do
              写真
          %li.side-tag__list
            = link_to "", class: "btn-tag" do
              記事執筆
          %li.side-tag__list
            = link_to "", class: "btn-tag" do
              未経験OK
          %li.side-tag__list
            = link_to "", class: "btn-tag" do
              somthing to do
          %li.side-tag__list
            = link_to "", class: "btn-tag" do
              Deep Impact
          %li.side-tag__list
            = link_to "", class: "btn-tag" do
              sakurabakushino
          %li.side-tag__list
            = link_to "", class: "btn-tag" do
              olfevre
          %li.side-tag__list
            = link_to "", class: "btn-tag" do
              gold ship
