.right
  %ul.side-job-list
    %li.side-job-list__current
      = link_to do
        すべて
        %span
          (85)
    %li.side-job-list__type
      = link_to do
        記事執筆
        %span
          (55)
    %li.side-job-list__type
      = link_to do
        写真撮影
        %span
          (4)
    %li.side-job-list__type
      = link_to do
        動画撮影
        %span
          (1)
    %li.side-job-list__type
      = link_to do
        コンシェルジュ
        %span
          (0)
