#side.right
  %ul.side-list.job
    %li.current
      = link_to '', "work/recommend"
      すべて
      %span
        (85)
    %li
      = link_to '', "work/category/4/latest"
      記事執筆
      %span
        (55)
    %li
      = link_to '', "work/category/5/latest"
      写真撮影
      %span
        (4)
    %li
      = link_to '', "work/category/6/latest"
      動画撮影
      %span
        (1)
    %li
      = link_to '', "work/category/7/latest"
      コンシェルジュ
      %span
        (0)
