= render 'layouts/header'
= render 'work/eyecatch'
= render 'work/sub-content-select'
.work-main-content
  .main-left-content
    = render 'layouts/main-left-content'
    = render 'work/pagination'
  .right
    = render 'work/right-job'
    = render 'work/right-tag'
= render 'layouts/4-contents'
= render 'layouts/2-contents'
.footer
  .footer-inner
    = render 'layouts/footer'
    = render 'layouts/footer-copyright'
