.right
  %ul.job
    %li.job__list.job__list--current
      = link_to "", class: "job__btn job__btn--current" do
        すべて
        %span.job__num
          (85)
    %li.job__list
      = link_to "", class: "job__btn job__btn__hover-type" do
        記事執筆
        %span.job__num
          (55)
    %li.job__list
      = link_to "", class: "job__btn job__btn__hover-type" do
        写真撮影
        %span.job__num
          (4)
    %li.job__list
      = link_to "", class: "job__btn job__btn__hover-type" do
        動画撮影
        %span.job__num
          (1)
    %li.job__list
      = link_to "", class: "job__btn job__btn__hover-type" do
        コンシェルジュ
        %span.job__num
          (0)
    %li.job__list
      = link_to "", class: "job__btn job__btn__hover-type" do
        情報提供
        %span.job__num
          (8)
    %li.job__list
      = link_to "", class: "job__btn job__btn__hover-type" do
        調査
        %span.job__num
          (2)
    %li.job__list
      = link_to "", class: "job__btn job__btn__hover-type" do
        アンバサダー
        %span.job__num
          (3)
    %li.job__list
      = link_to "", class: "job__btn job__btn__hover-type" do
        モデル
        %span.job__num
          (1)
    %li.job__list
      = link_to "", class: "job__btn job__btn__hover-type" do
        体験モニター
        %span.job__num
          (3)
    %li.job__list
      = link_to "", class: "job__btn job__btn__hover-type" do
        その他
        %span.job__num
          (4)
    %li.job__list
      = link_to "", class: "job__btn job__btn__hover-type" do
        営業代行
        %span.job__num
          (3)
    %li.job__list
      = link_to "", class: "job__btn job__btn__hover-type" do
        正社員
        %span.job__num
          (1)
    %li.job__list
      = link_to "", class: "job__btn job__btn__hover-type" do
        編集者
        %span.job__num
          (0)
    %li.job__list
      = link_to "", class: "job__btn job__btn__hover-type" do
        ディレクター
        %span.job__num
          (1)
    %li.job__list
      = link_to "", class: "job__btn job__btn__hover-type" do
        モニターツアー
        %span.job__num
          (1)
    %li.job__list
      = link_to "", class: "job__btn job__btn__hover-type" do
        バイヤー
        %span.job__num
          (1)

  .tag
    %dl.tag-definition
      %dt.tag-term
        人気のタグ
      %dd.tag-description
        %ul.side-tag
          %li.side-tag__list
            = link_to "", class: "side-tag__btn" do
              取材あり
              %img{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-tag-02.svg", class: "side-tag__btn__image" }
          %li.side-tag__list
            = link_to "", class: "side-tag__btn" do
              写真
          %li.side-tag__list
            = link_to "", class: "side-tag__btn" do
              記事執筆
          %li.side-tag__list
            = link_to "", class: "side-tag__btn" do
              未経験OK
          %li.side-tag__list
            = link_to "", class: "side-tag__btn" do
              somthing to do
          %li.side-tag__list
            = link_to "", class: "side-tag__btn" do
              Deep Impact
          %li.side-tag__list
            = link_to "", class: "side-tag__btn" do
              sakurabakushino
          %li.side-tag__list
            = link_to "", class: "side-tag__btn" do
              olfevre
          %li.side-tag__list
            = link_to "", class: "side-tag__btn" do
              gold ship
