.right
  %ul.side-job-list
    %li.side-job-list__current
      = link_to do
        すべて
        %span
          (85)
    %li.side-job-list__type
      = link_to do
        記事執筆
        %span
          (55)
    %li.side-job-list__type
      = link_to do
        写真撮影
        %span
          (4)
    %li.side-job-list__type
      = link_to do
        動画撮影
        %span
          (1)
    %li.side-job-list__type
      = link_to do
        コンシェルジュ
        %span
          (0)

  .side-tag
    %dl.side-tag-dl
      %dt
        人気のタグ
      %dd
        %ul.side-tag-list
          %li.side-tag-list__type
            = link_to do
              取材あり
          %li.side-tag-list__type
            = link_to do
              写真
          %li.side-tag-list__type
            = link_to do
              記事執筆
          %li.side-tag-list__type
            = link_to do
              未経験OK
          %li.side-tag-list__type
            = link_to do
              somthing to do
          %li.side-tag-list__type
            = link_to do
              Deep Impact
          %li.side-tag-list__type
            = link_to do
              sakurabakushino
          %li.side-tag-list__type
            = link_to do
              olfevre
          %li.side-tag-list__type
            = link_to do
              gold ship
