%ul.triplab
  %li.job__list.job__list--current
    = link_to "", class: "triplab-btn triplab-btn--current" do
      すべて
      %span.triplab-btn__num
        (85)
  %li.job__list
    = link_to "", class: "triplab-btn triplab-btn__hover-type" do
      記事執筆
      %span.triplab-btn__num
        (55)
  %li.job__list
    = link_to "", class: "triplab-btn triplab-btn__hover-type" do
      写真撮影
      %span.triplab-btn__num
        (4)
  %li.job__list
    = link_to "", class: "triplab-btn triplab-btn__hover-type" do
      動画撮影
      %span.triplab-btn__num
        (1)
  %li.job__list
    = link_to "", class: "triplab-btn triplab-btn__hover-type" do
      コンシェルジュ
      %span.triplab-btn__num
        (0)
  %li.job__list
    = link_to "", class: "triplab-btn triplab-btn__hover-type" do
      情報提供
      %span.triplab-btn__num
        (8)
  %li.job__list
    = link_to "", class: "triplab-btn triplab-btn__hover-type" do
      調査
      %span.triplab-btn__num
        (2)
  %li.job__list
    = link_to "", class: "triplab-btn triplab-btn__hover-type" do
      アンバサダー
      %span.triplab-btn__num
        (3)
  %li.job__list
    = link_to "", class: "triplab-btn triplab-btn__hover-type" do
      モデル
      %span.triplab-btn__num
        (1)
  %li.job__list
    = link_to "", class: "triplab-btn triplab-btn__hover-type" do
      体験モニター
      %span.triplab-btn__num
        (3)
  %li.job__list
    = link_to "", class: "triplab-btn triplab-btn__hover-type" do
      その他
      %span.triplab-btn__num
        (4)
  %li.job__list
    = link_to "", class: "triplab-btn triplab-btn__hover-type" do
      営業代行
      %span.triplab-btn__num
        (3)
  %li.job__list
    = link_to "", class: "triplab-btn triplab-btn__hover-type" do
      正社員
      %span.triplab-btn__num
        (1)
  %li.job__list
    = link_to "", class: "triplab-btn triplab-btn__hover-type" do
      編集者
      %span.triplab-btn__num
        (0)
  %li.job__list
    = link_to "", class: "triplab-btn triplab-btn__hover-type" do
      ディレクター
      %span.triplab-btn__num
        (1)
  %li.job__list
    = link_to "", class: "triplab-btn triplab-btn__hover-type" do
      モニターツアー
      %span.triplab-btn__num
        (1)
  %li.job__list
    = link_to "", class: "triplab-btn triplab-btn__hover-type" do
      バイヤー
      %span.triplab-btn__num
        (1)
