= render 'layouts/header'
.background-image
  - if @profile.background_image.blank?
    %i.fa.fa-image
  - else
    = image_tag @profile.background_image.url
.profile-wrapper
  .profile-contents
    .profile-contents__left
      - if @profile.avatar.blank?
        = image_tag 'icon-tabibito-01.svg', class: "avatar-image"
      - else
        = image_tag @profile.avatar.url, class: "avatar-image"
      .prrofile-contents__left__inner
        = render 'users/profile_show'
    .show-right-content
      = render 'job/show-side-profile', locals: @profile
      = render 'job/show-side-job-detail'
= render 'layouts/sub-nav-2lists'
.footer
  .footer-inner
    = render 'layouts/footer'
    = render 'layouts/footer-copyright'
