= render 'layouts/header'
.background-image
.profile-wrapper
  .profile-contents
    .profile-contents__left
      - if @profile.avatar.blank?
            = image_tag 'icon-tabibito-01.svg', class: "avatar-image"
          - else
            = @profile.avatar
          = f.file_field :avatar, class: 'avatar'
          = f.label :avatar do
            = image_tag 'icon-prof-camera.svg', class: 'avatar-icon'
      .prrofile-contents__left__inner
        = render 'users/profile_show'
    .show-right-content
      = render 'job/show-side-profile', locals: @profile
      = render 'job/show-side-job-detail'
= render 'layouts/sub-nav-2lists'
.footer
  .footer-inner
    = render 'layouts/footer'
    = render 'layouts/footer-copyright'
