%ul.pagination
  %li.pagination__list.pagination--list__prev
    %span
    <
  %li.pagination__list
    %span
    1
  %li.pagination__list
    = link_to "2"
  %li.pagination__list
    = link_to "3"
  %li.pagination__list
    = link_to "4"
  %li.pagination__list
    = link_to "5"
  %li.pagination__list.pagination--list__disabled
    %span
    ,,,
  %li.pagination__list
    = link_to "9"
  %li.pagination__list.pagination--list__next
    = link_to ">"
