<div class="account-box">
  <div class="account-box__image">
    <%= image_tag 'icon-sagojokun-01.svg' %>
  </div>
  <p class="account-box__title">アカウントを入力してログイン</p>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="account-box__field">
      <p class="account-box__field__facebook">Facebookでログイン</p>
    </div>

    <div class="account-box__field">
    <!--   <%= f.label :email %><br /> -->
      <%= f.email_field :email, placeholder: "メールアドレス", autofocus: true, autocomplete: "email", class: "account-box__field__form", id: "email_session" %>
    </div>

    <div class="account-box__field">
    <!--   <%= f.label :password %><br /> -->
      <%= f.password_field :password, placeholder: "パスワード", autocomplete: "off", class: "account-box__field__form", id: "password_session" %>
    </div>

  <!--   <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%> -->

    <div class="account-box__field">
      <%= f.submit "ログイン", class: "account-box__field__action" %>
    </div>
  <% end %>
  <!-- <%= render "devise/shared/links" %> -->
</div>
<div class="sign_in">
  <p class="sign_in__forget-pass">パスワードを忘れた方は<a href="#">こちら</a>から</p>
  <p class="sign_in__to-sign_up">登録しましたか？ <a href="/users/sign_up">旅人登録</a></p>
</div>

<% if user_signed_in? %>
  <% redirect_to root_path %>
<% end %>

