/ %ul.job
/ %li.job__list.job__list--current{ "data-id": all_tags[0].id }
/   = link_to "", class: "job-btn job-btn--current" do
/     =all_tags[0].job_tag_type
/     %span.job-btn__num
/       = "(#{@all_articles.count})"
%li.job__list{ "data-id": tag.id }
  = link_to home_job_category_path(tag.id), class: "job-btn job-btn__hover-type" do
    =tag.job_tag_type
    %span.job-btn__num
      = "(#{tag.articles.count})"
  / %li.job__list{ "data-id": all_tags[2].id }
  /   = link_to "", class: "job-btn job-btn__hover-type" do
  /     =all_tags[2].job_tag_type
  /     %span.job-btn__num
  /       = "(#{@all_tags[2].articles.count})"
  / %li.job__list{ "data-id": all_tags[3].id }
  /   = link_to "", class: "job-btn job-btn__hover-type" do
  /     =all_tags[3].job_tag_type
  /     %span.job-btn__num
  /       = "(#{@all_tags[3].articles.count})"
  / %li.job__list{ "data-id": all_tags[4].id }
  /   = link_to "", class: "job-btn job-btn__hover-type" do
  /     =all_tags[4].job_tag_type
  /     %span.job-btn__num
  /       = "(#{@all_tags[4].articles.count})"
  / %li.job__list{ "data-id": all_tags[5].id }
  /   = link_to "", class: "job-btn job-btn__hover-type" do
  /     =all_tags[5].job_tag_type
  /     %span.job-btn__num
  /       = "(#{@all_tags[5].articles.count})"
  / %li.job__list{ "data-id": all_tags[6].id }
  /   = link_to "", class: "job-btn job-btn__hover-type" do
  /     =all_tags[6].job_tag_type
  /     %span.job-btn__num
  /       = "(#{@all_tags[6].articles.count})"
  / %li.job__list{ "data-id": all_tags[7].id }
  /   = link_to "", class: "job-btn job-btn__hover-type" do
  /     =all_tags[7].job_tag_type
  /     %span.job-btn__num
  /       = "(#{@all_tags[7].articles.count})"
  / %li.job__list{ "data-id": all_tags[8].id }
  /   = link_to "", class: "job-btn job-btn__hover-type" do
  /     =all_tags[8].job_tag_type
  /     %span.job-btn__num
  /       = "(#{@all_tags[8].articles.count})"
  / %li.job__list{ "data-id": all_tags[9].id }
  /   = link_to "", class: "job-btn job-btn__hover-type" do
  /     =all_tags[9].job_tag_type
  /     %span.job-btn__num
  /       = "(#{@all_tags[9].articles.count})"
  / %li.job__list{ "data-id": all_tags[10].id }
  /   = link_to "", class: "job-btn job-btn__hover-type" do
  /     =all_tags[10].job_tag_type
  /     %span.job-btn__num
  /       = "(#{@all_tags[10].articles.count})"
  / %li.job__list{ "data-id": all_tags[11].id }
  /   = link_to "", class: "job-btn job-btn__hover-type" do
  /     =all_tags[11].job_tag_type
  /     %span.job-btn__num
  /       = "(#{@all_tags[11].articles.count})"
  / %li.job__list{ "data-id": all_tags[12].id }
  /   = link_to "", class: "job-btn job-btn__hover-type" do
  /     =all_tags[12].job_tag_type
  /     %span.job-btn__num
  /       = "(#{@all_tags[12].articles.count})"
  / %li.job__list{ "data-id": all_tags[13].id }
  /   = link_to "", class: "job-btn job-btn__hover-type" do
  /     =all_tags[13].job_tag_type
  /     %span.job-btn__num
  /       = "(#{@all_tags[13].articles.count})"
  / %li.job__list{ "data-id": all_tags[14].id }
  /   = link_to "", class: "job-btn job-btn__hover-type" do
  /     =all_tags[14].job_tag_type
  /     %span.job-btn__num
  /       = "(#{@all_tags[14].articles.count})"
  / %li.job__list{ "data-id": all_tags[15].id }
  /   = link_to "", class: "job-btn job-btn__hover-type" do
  /     =all_tags[15].job_tag_type
  /     %span.job-btn__num
  /       = "(#{@all_tags[15].articles.count})"
  / %li.job__list{ "data-id": all_tags[16].id }
  /   = link_to "", class: "job-btn job-btn__hover-type" do
  /     =all_tags[16].job_tag_type
  /     %span.job-btn__num
  /       = "(#{@all_tags[16].articles.count})"
