.tag
  %dl.tag-container
    %dt.tag-container__header
      人気のタグ
    %dd.tag-container__body
      %ul.tag-main
        %li.tag-main__list
          = link_to "", class: "tag-main__btn" do
            取材あり
            %img{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-tag-02.svg", class: "tag-main__btn__image" }
        %li.tag-main__list
          = link_to "", class: "tag-main__btn" do
            写真
            %img{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-tag-02.svg", class: "tag-main__btn__image" }
        %li.tag-main__list
          = link_to "", class: "tag-main__btn" do
            記事執筆
            %img{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-tag-02.svg", class: "tag-main__btn__image" }
        %li.tag-main__list
          = link_to "", class: "tag-main__btn" do
            未経験OK
            %img{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-tag-02.svg", class: "tag-main__btn__image" }
        %li.tag-main__list
          = link_to "", class: "tag-main__btn" do
            somthing to do
            %img{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-tag-02.svg", class: "tag-main__btn__image" }
        %li.tag-main__list
          = link_to "", class: "tag-main__btn" do
            Deep Impact
            %img{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-tag-02.svg", class: "tag-main__btn__image" }
        %li.tag-main__list
          = link_to "", class: "tag-main__btn" do
            sakurabakushino
            %img{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-tag-02.svg", class: "tag-main__btn__image" }
        %li.tag-main__list
          = link_to "", class: "tag-main__btn" do
            olfevre
            %img{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-tag-02.svg", class: "tag-main__btn__image" }
        %li.tag-main__list
          = link_to "", class: "tag-main__btn" do
            gold ship
            %img{ src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-tag-02.svg", class: "tag-main__btn__image" }
