.side-job-detail
  .job-detail-inner.side-job-type
    = image_tag "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-category.svg", class: "job-detail-image job-detail-image--arrange"
    %p.job-detail-text
      記事執筆
  .job-detail-inner.side-job-company
    = image_tag "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-company.svg", class: "job-detail-image"
    %p.job-detail-text
      = @article.company
  .job-detail-inner.side-job-money
    = image_tag "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-money.svg", class: "job-detail-image"
    %p.job-detail-text
      = @article.reward
  .job-detail-inner.side-job-tag
    = image_tag "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-tag-01.svg", class: "job-detail-image"
    %ul.job-detail-tag
      %li.job-detail-tag__list
        = link_to "#", class: "tag-list-btn" do
          取材あり
      %li.job-detail-tag__list
        = link_to "#", class: "tag-list-btn" do
          写真
      %li.job-detail-tag__list
        = link_to "#", class: "tag-list-btn" do
          記事執筆
      %li.job-detail-tag__list
        = link_to "#", class: "tag-list-btn" do
          ライター
      %li.job-detail-tag__list
        = link_to "#", class: "tag-list-btn" do
          日本全国
  .side-job-like
    = link_to "お気に入りに追加", "", class: "application-like__upper side-job-like__btn"
  .side-job-application
    = link_to "応募画面へ進む", "#", class: "application-apply__upper side-job-application__btn"
    %p.application-btn-item.application-apply__lower
      現在
      %span
        8
      人が応募済みです
