= render 'layouts/header'
.eyecatch-wrapper
  .eyecatch-newcomer
    .eyecatch-newcomer-inner
      %h1.eyecatch-newcomer-inner__header
        はじめての方へ
.main-content
  %section.sec-01#anc-01
    .inner
      %nav.local-nav
        %ul
          %li.first-article
            %h2.now-article
              %a{href: "anc-01"}
                SAGOJOとは
          %li.another-article
            %a{href: "anc-02"}
              旅人のメリット
          %li.another-article
            %a{href: "anc-03"}
              シゴトの流れ
          %li.another-article
            %a{href: "anc-04"}
              すごい旅人とは
          %li.another-article
            %a{href: "anc-05"}
              旅のサポート
      .wrap-col
        .left
          %p.lead
            旅人だからできる｢シゴト｣、
            %br
            SAGOJOにあります。
          %p
            今、記事を書いたり動画・写真を撮ったりというコンテンツ制作の需要が増
            %br
            えています。SAGOJOは、旅先でコンテンツ制作の「シゴト」をすること
            %br
            で、企業から「リターン」を受け取りながら旅することができる「すごい旅
            %br
            人求人サイト」です。
          %ul.list-checked
            %li
              企業のニーズと旅人のスキルをマッチング
            %li
              あなたの「旅」をシゴトに。普通では味わえない旅体験を
            %li
              SAGOJOがコンテンツづくりを安心サポート
        .right
          .image
            %img{src: "https://d1te0bovbq6epg.cloudfront.net/common/img/beginner/img-01.jpg", alt: "すごい旅求人サイト SAGOJO"}
  %section.sec-02#anc-02
    .inner
      %nav.local-nav
        %ul
          %li.first-article
            %a{href: "anc-01"}
              SAGOJOとは
          %li
            %h2.now-article
              %a{href: "anc-02"}
              旅人のメリット
          %li.another-article
            %a{href: "anc-03"}
              シゴトの流れ
          %li.another-article
            %a{href: "anc-04"}
              すごい旅人とは
          %li.another-article
            %a{href: "anc-05"}
              旅のサポート
      .wrap-col
        .list-merit
          .list-merit--01
            %img{src: "https://d1te0bovbq6epg.cloudfront.net/common/img/beginner/img-02.svg"}
            %p
              シゴトに応じた
              %br
              リターンを得られる
          %p
            旅をしながら企業からのシゴトをして価値を
            %br
            生み出すことで、金銭、物資、チケット（宿
            %br
            泊券・割引券など）といった、あなたの旅の出発、継続に必要なリターンを得ることがで
            %br
            きます。
        .list-merit.others
          .list-merit--01
            %img{src: "https://d1te0bovbq6epg.cloudfront.net/common/img/beginner/img-03.svg"}
            %p
              あなたの｢好き｣｢得意｣を
              %br
              活かしながら旅できる
          %p
            写真が好きなあなたは写真を撮りながら、ラ
            %br
            イターとして活躍してきたあなたは文章を書
            %br
            きながら。SAGOJOを使えばあなたの「好
            %br
            き」「得意」を活かして、旅に出ることがで
            %br
            きます。
        .list-merit.others
          .list-merit--01
            %img{src: "https://d1te0bovbq6epg.cloudfront.net/common/img/beginner/img-04.svg"}
            %p
              より多くの人へ
              %br
              あなたの旅を発信できる
          %p
            SAGOJOを使えば、あなたの旅のコンテンツ
            %br
            はもっと面白く、そしてより多くの人の目に
            %br
            触れるかたちで発信することがで
            %br
            きます。
  %section.sec-03#anc-03
    .inner
      %nav.local-nav
        %ul
          %li
            %a{href: "anc-01"}
              SAGOJOとは
          %li
            %a{href: "anc-02"}
              旅人のメリット
          %li
            %h2.now-article
              %a{href: "anc-03"}
                シゴトの流れ
          %li
            %a{href: "anc-04"}
              すごい旅人とは
          %li
            %a{href: "anc-05"}
              旅のサポート
      .scroll-area
        .content
          %ol.list-job
            %li
              %span
                1
              %dl
                %dt
                  %p
                    シゴトを探す
                  %img{src: "https://d1te0bovbq6epg.cloudfront.net/common/img/beginner/img-05.svg"}
                  %dd
                    地域や職種から自分に合っ
                    %br
                    たシゴトを探します。
            %li.list-job--01
              %span
                2
              %dl
                %dt
                  %p
                    応募
                  %img{src: "https://d1te0bovbq6epg.cloudfront.net/common/img/beginner/img-06.svg"}
                  %dd
                    プロフィールや熱意を記入
                    %br
                    し、シゴトヘ応募。通過者
                    %br
                    には結果の連絡が届きま
                    %br
                    す。
            %li.list-job--01
              %span
                3
              %dl
                %dt
                  %p
                    審査
                  %img{src: "https://d1te0bovbq6epg.cloudfront.net/common/img/beginner/img-07.svg"}
                  %dd
                    応募者が多い場合は、審査
                    %br
                    を行うことも。シゴトによ
                    %br
                    っては面談も実施します。
            %li.list-job--01
              %span
                4
              %dl
                %dt
                  %p
                    旅先での
                    %br
                    コンテンツ制作
                  %img{src: "https://d1te0bovbq6epg.cloudfront.net/common/img/beginner/img-08.svg"}
                  %dd
                    あなたならではのスキルを
                    %br
                    活かし、旅先でシゴトを実
                    %br
                    行します。
            %li.list-job--01
              %span
                5
              %dl
                %dt
                  %p
                    SAGOJOが
                    %br
                    編集
                  %img{src: "https://d1te0bovbq6epg.cloudfront.net/common/img/beginner/img-09.svg"}
                  %dd
                    SAGOJOがあなたのシゴ
                    %br
                    トをサポート（企画・編
                    %br
                    集・校正など）。修正の依
                    %br
                    頼をすることもあります。
            %li.list-job--01
              %span
                6
              %dl
                %dt
                  %p
                    公開
                  %img{src: "https://d1te0bovbq6epg.cloudfront.net/common/img/beginner/img-10.svg"}
                  %dd
                    完成したコンテンツは、所
                    %br
                    定のメディアで公開されま
                    %br
                    す。公開先はSAGOJOの
                    %br
                    サイトになることも。
            %li.list-job--01
              %span
                7
              %dl
                %dt
                  %p
                    リターンを
                    %br
                    受け取る
                  %img{src: "https://d1te0bovbq6epg.cloudfront.net/common/img/beginner/img-11.svg"}
                  %dd
                    リターンを受け取ります。
                    %br
                    お渡しの方法はリターン内
                    %br
                    容により異なります。
      %h3
        リターンのお支払い方法
      .wrap-col
        .left
          %dl.list-payment
            %dt
              リターンを
              %span
                %img{src: "https://d1te0bovbq6epg.cloudfront.net/common/img/beginner/icon-yen.svg", alt: "現金"}
                で受け取る場合
              %dd
                %ul.list-checked
                  %li
                    毎月、公開日ベースで請求書を発行していただきます
                  %li
                    企画ごとのお支払い条件で、お振込いたします
                  %li
                    通常は「毎月25日締め 翌月10日払い」とさせていただきます
        .right
          %dl.list-payment
            %dt
              リターンを
              %span
                %img{src: "https://d1te0bovbq6epg.cloudfront.net/common/img/beginner/icon-yen.svg", alt: "現金以外"}
                で受け取る場合
              %dd
                %ul.list-checked
                  %li
                    シゴトによって異なるため、募集記事内にて詳細を記載します
                  %li
                    旅前、旅中、旅後など、受け取りのはタイミングはさまざまです
                    %span
                      %br
                      （例：◯◯系列ホテルに無料宿泊 → チケットをメールで送付）
      %p.wrap-btn
        %a.btn{href: "/faq"}
          詳しくはFAQへ
  %section.sec-04#anc-04
    .inner
      %nav.local-nav
        %ul
          %li
            %a{href: "anc-01"}
              SAGOJOとは
          %li
            %a{href: "anc-02"}
              旅人のメリット
          %li
            %a{href: "anc-03"}
              シゴトの流れ
          %li
            %h2.now-article
              %a{href: "anc-04"}
                すごい旅人とは
          %li
            %a{href: "anc-05"}
              旅のサポート
      %p.lead
        プロフィールを充実させて
        %br
        すごい旅人になろう
      .left
        %p
          すごい旅人とは？
        ユーザーの中でも以下の旅人を、SAGOJOでは「すごい旅人」と認定して
        %br
        います。
        %ul.list-checked
          %li
            すごい仕事の実績をお持ちの方
          %li
            特殊なキャリアや専門性をお持ちの方
          %li
            ずば抜けた個性のある方
          %li
            SNSやブログ等で高い影響力のある方
          すごい旅人になると、シゴトの選考に通過しやすくなったり、SAGOJOか
          %br
          ら直接シゴトのオファーが届いたり、すごい旅人限定のシゴトに応募でき
          %br
          たりするようになります。
      .right
        %img{src: "https://d1te0bovbq6epg.cloudfront.net/common/img/beginner/what_pc.svg"}
  %section.sec-06#anc-06
    .inner
      %p.lead
        すごい旅人になるには？
      .step
        %ol.list-job-flow
          %li
            %span
              1
            %dl
              %dt
                %p.step
                  プロフィール情報を入力する
                %img{src: "https://www.sagojo.link/common/img/beginner/become01.svg"}
              %dd
                まずはマイページにあなたのプロフィール情
                %br
                報を入力しましょう。
                %br
                特に「シゴト実績」「旅の経験」「スキル」
                %br
                「SNSアカウント」「関連リンク（ブログな
                %br
                ど）」の項目が詳しく入力されていると、選
                %br
                ばれやすくなります。
          %li.others
            %span
              2
            %dl
              %dt
                %p.step
                  すごい旅人に立候補する
                %img{src: "https://www.sagojo.link/common/img/beginner/become04.svg"}
              %dd
                プロフィール完成度が80％以上になると、
                %br
                すごい旅人に立候補することができます。
                %br
                我こそはという方からのご応募をお待ちして
                %br
                おります。
          %li.others
            %span
              3
            %dl
              %dt
                %p.step
                  書類選考・Skype面談
                %img{src: "https://www.sagojo.link/common/img/beginner/become03.svg"}
              %dd
                プロフィール情報をもとに選考をおこないま
                %br
                す。通過した方にはSkype面談をおこなった
                %br
                のち「すごい旅人」として最終認定されま
                %br
                す。書類選考の結果はメールでお送りします
                %br
                ので、応募後はSAGOJOからの連絡をお待
                %br
                ちください。
      %p.acenter
        %a.btn.no-active{href: "/faq"}
          すごい旅人へ立候補する
        %p
          ログイン状態でプロフィール完成度が80％以上になると、
          %br
          すごい旅人に立候補することができます。
          %br
          我こそはという方からのご応募をお待ちしております。
      %p.acenter
        %a.btn.profile{href: "/user"}
          プロフィールを編集する
  %section.sec-05#anc-05
    .inner
      %nav.local-nav
        %ul
          %li
            %a{href: "anc-01"}
              SAGOJOとは
          %li
            %a{href: "anc-02"}
              旅人のメリット
          %li
            %a{href: "anc-03"}
              シゴトの流れ
          %li
            %a{href: "anc-04"}
              すごい旅人とは
          %li
            %h2.now-article
              %a{href: "anc-05"}
              旅のサポート
      %p.lead
        慣れない土地でもシゴトができる。
        %br
        SAGOJOで旅するあなたには
        %br
        スタッフがサポートします。
      %p.description
        はじめて訪れる土地でも、心配ありません！
        %br
        コンテンツ制作についてのみならず、
        %br
        SAGOJOスタッフがあなたの旅のご相談に乗ります。
      %p.acenter
        %a.btn{href: "/faq"}
          詳しくはFAQへ
= render 'layouts/sub-nav-4lists'
= render 'layouts/sub-nav-2lists'
.footer
  .footer-inner
    = render 'layouts/footer'
    = render 'layouts/footer-copyright'
