= render 'layouts/header'
= render 'job/eyecatch'
= render partial: 'job/sub-content-select', locals: { all_articles: @all_articles }
.work-main-content
  .main-left-content
    = render partial: 'layouts/main-left-content', collection: @articles, as: :article
    = paginate(@articles)
  .right
    %ul.job
      = render partial: 'job/right-job', locals: { all_tags: @all_tags }, collection: @all_tags, as: :tag
      = render 'job/right-tag'
= render 'layouts/sub-nav-4lists'
= render 'layouts/sub-nav-2lists'
.footer
  .footer-inner
    = render 'layouts/footer'
    = render 'layouts/footer-copyright'
