= render 'layouts/header'
= render 'job/show'
= render 'layouts/sub-nav-4lists'
= render 'layouts/sub-nav-2lists'
.footer
  .footer-inner
    = render 'layouts/footer'
    = render 'layouts/footer-copyright'
