= render 'layouts/header'
= render 'triplab/eyecatch'
= render 'triplab/sub-content-select'
.work-main-content
  = render 'triplab/left-content'
  / = render 'triplab/pagination'
  .right
    = render 'triplab/right-job'
    = render 'triplab/right-tag'
= render 'layouts/sub-nav-4lists'
= render 'layouts/sub-nav-2lists'
.footer
  .footer-inner
    = render 'layouts/footer'
    = render 'layouts/footer-copyright'